{% extends 'base.html' %}

{% block stuff %}
<div class="container">
    <h1>Team List</h1>
    <a href="/team_create" class="btn btn-info" role="button">Create New Team +</a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Number of Students</th>
        </tr>
        </thead>
        <tbody>
        {%for team in teams%}
        <tr>
            <td>{{forloop.counter}} <a href=/team_details/{{team.id}}>{{team.name}}</a></td>
            <td><a href=/team_details/{{team.id}}>{{team.student_set.all.count}} - {% for kid in team.student_set.all %}{{kid.first_name}} {%endfor%}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock stuff %}