{% extends 'base.html' %}

{% block stuff %}
<div class="container">
    <h1>Student List</h1>
    <a href="/student_create" class="btn btn-info" role="button">Create New Student +</a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Paid</th>
        </tr>
        </thead>
        <tbody>
        {%for kid in kids%}
        <tr>
            <td>{{forloop.counter}}   <a href=/student_details/{{kid.id}}>{{kid.first_name}} {{kid.surname}}</a></td>
            <td><a href=/student_details/{{kid.id}}>{{kid.date_of_birth}}</a></td>
            <td><a href=/student_details/{{kid.id}}>{{kid.email}}</a></td>
            <td><a href=/student_details/{{kid.id}}>{{kid.paid}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock stuff %}