{% extends 'base.html' %}

{% block stuff %}

<div class="container">
    <form method="POST">{% csrf_token %}
        {% for form in forms%}
        <div class="box" id="day_{{form.prefix}}">
            {{form.prefix}}
            <p><a href="#" class="add_button" id="add_another_{{form.prefix}}">Add Period</a></p>
            <p><a href="#" class="remove_button" id="remove_{{form.prefix}}">Remove Period</a></p>
            <div id="times_{{form.prefix}}">
                <div id="fields_{{form.prefix}}_0" name="fields_{{form.prefix}}_0">
                    {{form.as_p}}
                </div>
            </div>
        </div>
        {%endfor%}
        <input type="submit" value="Save" name="">

    </form>
</div>
<style>


</style>

{% endblock stuff %}

