
{% extends 'base.html' %}

{% block stuff %}

<h2 align="center"><a href="#">Time Table</a></h2>

<br/>
<div class="container">
        {% for i in events %}
                {% if i.day == "Tuesday"%}
    <p>{{i.day}}</p>
            {%endif%}
            {%endfor%}
    <a href="/timetables/delete_timetable/"><button>Delete Timetable</button></a>
    <div id="calendar"></div>

</div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"/>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script>

    $(document).ready(function() {

        function get_date(p1, p2, p3) {

            var myDate = new Date(p2);
            myDate.setDate(myDate.getDate() + parseInt(p1));
            var nunn = myDate
            nunn = nunn.toJSON();
            nunn = nunn + ' ' + p3
            return nunn
        }

        $('#calendar').fullCalendar({
            //defaultDate: '2016-07-19',
            defaultView: 'agendaWeek',
            firstDay: 1,
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for i in events %}

                {
                    title: "{{ i.day}}",
                    start: get_date('{{i.day_number}}','{{date}}','{{ i.start_time|date:"H:i" }}'),
                    end: get_date('{{i.day_number}}','{{date}}','{{ i.end_time|date:"H:i" }}'),

                },

                {% endfor %}

            ]
        });


    });

    </script>


{% endblock stuff %}
