<!DOCTYPE html>
<html>
<head>
    <title>{{request.user.club}}</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.23/c3.css" rel="stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--<link rel="stylesheet" type="text/css" href="../static/css/custom.css">-->

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/js/main.js"></script>

    <script type="text/javascript" src="../../static/js/timepicker/jquery.timepicker.js"></script>
    <link rel="stylesheet" href="../../static/css/timepicker/jquery.timepicker.css">

    <link rel="stylesheet" type="text/css"  href="../../static/css/index.css">

</head>
<body>
{% if request.user.is_active %}
    {% include 'navbar.html' %}
{% endif %}

{% block stuff %}
{% endblock %}

</body>
<script>

</script>
</html>