{% extends 'base.html' %}

{% block stuff %}
    <div class="container">
    <h1>Team List</h1>
    <a href="/team_create" class="btn btn-info" role="button">Create New Team +</a>
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {%for team in teams%}
        <tr>
            <td>{{forloop.counter}}<a href=/student_details/{{kid.id}}>{{kid.first_name}} {{kid.surname}}</a></td>
            <td><a href=/student_details/{{kid.id}}>{{team.name}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock stuff %}